body {
    display: flex;
    flex-direction: column
  }
  
  .horario {
    text-align: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px;
  }
  
  .horario th, .horario td {
    border: 1px solid #ccc;
    padding: 1px;
    width: 500px;
}
  
  th, .hora, #descanso {
    background: #ebebe0;
    font-weight: bold;
    font-style: italic;
  }
  
  
  .botones_container {
    display: flex;
  }
  .botones {
    text-align: center;
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px;
  }